/* 元素选择器：选择指定类型的元素。 */
/* 后代选择器：选择作为指定祖先元素内的后代的元素。 */
/* 伪类选择器：选择特定状态或行为的元素。 */
ul li:first-child {
  color: bisque;
}

/* 子元素选择器：选择作为指定父元素的直接子元素的元素。 */
.container > p {
  border: 1px solid red;
}

/* 类选择器：选择具有指定类名的元素。 */
li.active {
  font-weight: bold;
  color: red;
}

/* 通用选择器：选择所有元素。 */
.container * {
  font-style: italic;
}

/* 相邻兄弟选择器：选择紧接在指定元素之后的同级元素。 */
h1 + p {
  background-color: blanchedalmond;
}

/* 通用兄弟选择器：选择指定元素之后的所有同级元素。 */
h1 ~ p {
  color: red;
}

/* 伪类选择器：选择特定状态或行为的元素。 */
li:not(.active) {
  text-decoration: underline;
}

/* 属性选择器：选择具有指定属性或属性值的元素。 */
li[id^='item'] {
  font-size: 30px;
}
